@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
      url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
      url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
}

/* Formviewer */
.fieldContainer:hover .removeField, .fieldContainer:hover .editField {
    display: inline !important;
}
.removeField:hover {
        background-color: rgb(243, 207, 207);
        cursor: pointer;
}
.editField {
    display: none;
    position: absolute;
    top: 0;
    right: 60px;
    padding: 5px 20px;
    border-radius: 5;
}
.removeField {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    font-weight: 700;
    padding: 5px 20px;
    border-radius: 5;
}
.editField:hover {
    background-color: rgba(212, 211, 178, 0.788);
    cursor: pointer;
}
.removeField:hover .fieldContainer{
    background-color: pink !important;
}
.fieldContainer:hover {
    border: 2px solid rgb(218, 214, 214);
    border-radius: 5px;
}
/* .txtClass input, .textareaClass textarea, .numberClass input, .selectClass select, .multiChoiceClass select {
    border: 1px solid rgb(196, 196, 196);
} */

/* *:not(:hover)>.fieldContainer{
    display:inline;
    background-color: red;

} */

/* .fieldContainer:hover span:not(:hover) {
    display: inline;
    background-color: red;

} */

.container-fluid .row {
    margin-bottom: 30px !important;
}

/* Toolbox */
.tools {
    /* background: rgb(243, 240, 240); */
    margin: 5px;
    list-style-type: none;
    padding: 1em;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 500;
}
.tools:nth-child(odd)
{
    background-color: #f4f4f4;
}
.tools:nth-child(even)
{
    background-color: #f6f1f2;
}
.icons img {
    margin-right: 2em;
    width: 32px;
    opacity: 0.8;
}

/* Panel */
.panel {
    width: 30%;
    /* border: 1px solid gray; */
    padding: 2em;
    /* background-color: rgb(63, 17, 17); */
    /* color: white; */
    -webkit-box-shadow: 10px 10px 35px -12px rgba(156,153,156,1);
    -moz-box-shadow: 10px 10px 35px -12px rgba(156,153,156,1);
    box-shadow: 10px 10px 35px -12px rgba(156,153,156,1);
}
.panel img {
    width: 15px;
    /* filter: invert(0.5); */
    cursor: pointer;
}
.btn-group-sm>.btn, .btn-sm {
    font-size: 17px;
}
/* .btn .btn-primary{
    background-color: #d81b60;
} */