/* Formviewer */
.fieldContainer:hover .removeField, .fieldContainer:hover .editField {
    display: inline !important;
}
.removeField:hover {
        background-color: rgb(219, 170, 170);
        cursor: pointer;
}
.editField {
    display: none;
    position: absolute;
    top: 0;
    right: 60px;
    padding: 5px 20px;
    border-radius: 5;
}
.removeField {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    font-weight: 700;
    padding: 5px 20px;
    border-radius: 5;
}
.editField:hover {
    background-color: rgba(212, 212, 178, 0.788);
    cursor: pointer;
}
.removeField:hover .fieldContainer{
    background-color: pink !important;
}
.fieldContainer:hover {
    border: 2px solid rgb(218, 214, 214);
    border-radius: 5px;
}
/* .txtClass input, .textareaClass textarea, .numberClass input, .selectClass select, .multiChoiceClass select {
    border: 1px solid rgb(196, 196, 196);
} */

/* *:not(:hover)>.fieldContainer{
    display:inline;
    background-color: red;

} */

/* .fieldContainer:hover span:not(:hover) {
    display: inline;
    background-color: red;

} */

.container-fluid .row {
    margin-bottom: 30px !important;
}

/* Toolbox */
.tools {
    /* background: rgb(243, 240, 240); */
    margin: 5px;
    list-style-type: none;
    padding: 1em;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 500;
}
.tools:nth-child(odd)
{
    background-color: #f4ffde;
}
.tools:nth-child(even)
{
    background-color: #ffedf0;
}

/* Panel */
.panel {
    width: 30%;
    /* border: 1px solid gray; */
    padding: 2em;
    /* background-color: rgb(63, 17, 17); */
    /* color: white; */
    -webkit-box-shadow: 10px 10px 35px -12px rgba(156,153,156,1);
    -moz-box-shadow: 10px 10px 35px -12px rgba(156,153,156,1);
    box-shadow: 10px 10px 35px -12px rgba(156,153,156,1);
}
.panel img {
    width: 15px;
    /* filter: invert(0.5); */
    cursor: pointer;
}
/* .btn .btn-primary{
    background-color: #d81b60;
} */