body {
    font-weight: 400;
    background: #ccbecf96;
    color: black;
}
/* Formviewer */
.fieldContainer:hover .removeField, .fieldContainer:hover .editField {
    display: inline !important;
}
.removeField:hover {
        background-color: rgb(253, 129, 129);
        cursor: pointer;
}
.editField {
    display: none;
    position: absolute;
    top: 0;
    right: 60px;
    padding: 5px 20px;
    border-radius: 5;
}
.removeField {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    font-weight: 700;
    padding: 5px 20px;
    border-radius: 5px;
}
.editField:hover {
    background-color: #ccbecf96;
    border-radius: 5px;
    cursor: pointer;
}
.removeField:hover .fieldContainer{
    background-color: pink !important;
}
.fieldContainer:hover {
    border: 2px solid rgb(170, 165, 165);
    border-radius: 10px;
}
.formViewer {
    border: 1px solid rgb(151, 147, 147);
    padding: 2em;
    border-radius: 20px;
}

.container-fluid .row {
    margin-bottom: 30px !important;
}

/* Toolbox */
.tools {
    margin: 5px;
    list-style-type: none;
    padding: 1em;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 500;
}
.tools:hover {
    border: 1px solid black;
}
.tools:nth-child(odd)
{
    background-color: #f4f4f4;
}
.tools:nth-child(even)
{
    background-color: #f6f1f2;
}
.icons img {
    margin-right: 2em;
    width: 32px;
}

/* Panel */
.panel {
    width: 30%;
    /* border: 1px solid black; */
    border-radius: 20px;
    padding: 2em;
    background-color: #ccbecf96;
    /* color: white; */
    /* -webkit-box-shadow: 6px 6px 30px -12px rgba(156,153,156,1);
    -moz-box-shadow: 6px 6px 30px -12px rgba(156,153,156,1);
    box-shadow: 6px 6px 30px -12px rgba(156,153,156,1); */
}
.panel img {
    width: 15px;
    /* filter: invert(0.5); */
    cursor: pointer;
}
.btn-group-sm>.btn, .btn-sm {
    font-size: 17px;
}
/* .btn .btn-primary{
    background-color: #d81b60;
} */

/* Modal */
.modal pre {
    margin-left: 3em;
}
.nav-link {
    font-weight: 700;
    font-size: 1.1rem;
}
.btn {
    letter-spacing: inherit;
}